<strong>Olá, {{user}}</strong>
<p>Segue abaixo seu token para redefinição de senha:</p>
<p>
  Token: <strong>{{ randomToken }}</strong> <br />
  <br />
  <small>
    O token não será mais válido após o uso.
  </small>
</p>